In [2]:
import pandas as pd 
import numpy as np
from matplotlib.pyplot import plot

In [3]:
covid_19 =pd.read_csv('./covid-19.csv')

In [4]:
print(covid_19)

           date      cases   deaths
0     1/21/2020          1        0
1     1/22/2020          1        0
2     1/23/2020          1        0
3     1/24/2020          2        0
4     1/25/2020          3        0
...         ...        ...      ...
1153  3/19/2023  103784916  1133826
1154  3/20/2023  103794703  1133964
1155  3/21/2023  103813076  1134177
1156  3/22/2023  103864888  1134913
1157  3/23/2023  103910034  1135343

[1158 rows x 3 columns]

In [5]:
covid_19.shape

(1158, 3)

In [6]:
covid_19.head()

        date  cases  deaths
0  1/21/2020      1       0
1  1/22/2020      1       0
2  1/23/2020      1       0
3  1/24/2020      2       0
4  1/25/2020      3       0

In [7]:
covid_19['day']=covid_19.date.str[0:1]
covid_19['month']=covid_19.date.str[2:4]
covid_19['year']=covid_19.date.str[5:]

In [8]:
print(covid_19.head())

        date  cases  deaths day month  year
0  1/21/2020      1       0   1    21  2020
1  1/22/2020      1       0   1    22  2020
2  1/23/2020      1       0   1    23  2020
3  1/24/2020      2       0   1    24  2020
4  1/25/2020      3       0   1    25  2020

In [9]:
covid_19.year=covid_19.year.replace(['/'],'',regex=True)

In [21]:
covid_19.year=covid_19.year.replace(['^020'],2020,regex=True)
covid_19.year=covid_19.year.replace(['^021'],2021,regex=True)
covid_19.year=covid_19.year.replace(['^022'],2022,regex=True)
covid_19.year=covid_19.year.replace(['^023'],2023,regex=True)

In [11]:
new_data=covid_19[['year','cases','deaths']]
print(covid_19.year)

0       2020
1       2020
2       2020
3       2020
4       2020
        ...
1153    2023
1154    2023
1155    2023
1156    2023
1157    2023
Name: year, Length: 1158, dtype: object

In [24]:
covid_19.groupby('year').sum()

            cases     deaths
year
2020   1727289223   46413867
2021  13229129856  223987036
2022  31760084178  367427258
2023   8401350915   91790838